@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

body {
    margin-top: 80px;
    background: #ffffff;
}

.lineClamp {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 25px;
    -webkit-line-clamp: 3;
    height: 75px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.movie-list .swiper-slide {
    margin-top: 30px;
    height: auto;
}

.movie-card {
    padding: 24px;
}

.swiper-grid-column > .swiper-wrapper {
    flex-direction: unset;
}


.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-wrapper {
    padding-bottom: 50px;
}

.swiper-button-prev,
.swiper-button-next {
    color: #fff;
}

.swiper .swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
    margin-top: 20px;
}

.ant-tabs-content-holder {
    height: 700px;
    overflow: auto;
    display: flex;
    flex-direction: column;
}

.footer #footer {
    background-color: #222;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #949494;
}

.footer #footer .title {
    color: #fff;
    font-size: 80%;
}

.footer #footer p {
    margin: 0 0 10px;
}

.footer #footer .noPaddingLeft {
    padding-left: 0;
}

.footer #footer .fontSizeP a {
    font-size: 80%;
    font-weight: 700;
    white-space: nowrap;
    color: #949494;
    display: block;
    transition: all 0.2s;
    line-height: 2.3;
    text-decoration: none;
}

.footer #footer .linePartner {
    margin-bottom: 15px;
}

.footer #footer .linePartner .iconConnect {
    border-radius: 50%;
    height: 30px;
    width: 30px;
    margin-right: 15px;
}

.footer #footer .textCenter {
    text-align: center;
}

.footer #footer .iconApp {
    background: 0 0;
    height: 30px;
    width: auto;
    margin: 5px;
}

.footer .block {
    padding-left: 0;
    padding-right: 0;
}

.footer .mainMaxWidth hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
}

.footer .mainMaxWidth .hrFooter {
    border-top: 1px solid #4a4a4a;
}

.footer .mainMaxWidth .imgFooter {
    text-align: center;
    padding: 0;
}

.footer .mainMaxWidth .imgFooter .vngIcon {
    width: 80px;
    height: auto;
}

.footer .mainMaxWidth .infoFooter {
    color: #fff;
    white-space: nowrap;
    font-size: 70%;
}

.footer .mainMaxWidth .infoFooter span {
    display: block;
    line-height: 1.8;
    color: #949494;
    font-size: 12px;
    font-weight: 400;
}

.footer .mainMaxWidth .infoFooter span:first-child {
    color: #fff;
}

.footer .mainMaxWidth .imgBoCo {
    width: 130px;
    float: right;
}

.footer .linePartner a {
    display: inline-block;
}

.slick-slider {
    width: 100%;
    overflow: hidden;
}

.slick-list {
    position: relative;
    display: block !important;
    width: 100%;
}

.slick-slide div {
    width: auto;
    margin-right: 10px;
}

/*.slick-slide img {*/
/*    width: calc(100% - 10px) !important;*/
/*}*/

/* For the demo */
.slick-prev,
.slick-next {
    z-index: 999 !important;
}

.slick-prev {
    left: 25px !important;
}

.slick-next {
    right: 25px !important;
}

.slick-arrow {
    display: none;
    opacity: 0;
}


.icon {
    min-width: 150px;
    opacity: .6;
    visibility: hidden;

    /* Center the content */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);

    transition: all .25s cubic-bezier(.59, -0.26, .33, 1.42);
}

.icon:hover {
    opacity: 1;
    /*transform: scale(1.4);
    filter: blur(15px);*/
}

.banner:hover .icon {
    visibility: unset;
}